@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Merienda:wght@400;700&display=swap');

:root {
    --fonts-default: Verdana, Tahoma, sans-serif;
    --fonts-handwritten1: 'Merienda One', cursive;
    --fonts-handwritten2: 'Merienda', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    font-family: var(--fonts-default);
    min-height: 100vh;
    background-color: rgb(165, 165, 165);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonts-handwritten1);
    font-size: 4em;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonts-handwritten2);
    font-size: 1.5em;
}

section > p {
    padding-bottom: 1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.especial {
    background-color: rgb(50, 50, 50);
    color: white;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-attachment: fixed;
}

section.especial > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 1px 2px 0 black;
}

section#img-flower {
    background-image: url('../img/background-flower.jpg');
    background-position: right center;
}

section#img-papers {
    background-image: url('../img/background-papers.jpg')
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
